.pos-receipt > br, .pos-receipt > div.pos-receipt-right-align{
    display: none;
}
.pos-receipt-custom{
    display: flex !important;
    flex-direction: column;
    align-items: center; 
    gap: 0.5em;
    margin-bottom: 0.5em;
}
.pos-receipt-custom > .orderlines > .pos-receipt-left-padding{
    padding-left: 1em;
}
.pos-receipt-custom > .pos-receipt-company-info{
    display: flex!important;
    flex-direction: row;
    width: 100%;
    align-items: center;
}
.pos-receipt-custom > .pos-receipt-company-info .pos-receipt-logo-div{
    width: 80px;
    padding: 0 px;
}

.pos-receipt-custom > .pos-receipt-company-info .pos-receipt-logo-div > img{
    width: 100%!important;
}

.pos-receipt-custom > .pos-receipt-company-info .pos-receipt-contact{
    text-align: left!important;
    padding: 4px;
}

.pos-receipt-custom > .orderlines, .pos-receipt-extra-infos{
    display: flex !important;
    flex-direction: column;
    width: 100%;
}

.pos-receipt-custom > .pos-receipt-paymentlines{
    display: flex !important;
    flex-direction: column;
    width: 100%;
}

.pos-receipt-custom > .pos-receipt-right-align, .pos-receipt-custom > .pos-receipt-amount{
    align-self: flex-end;
    padding: 0px;
}

.pos-receipt-custom > .pos-receipt-amount-receipt-change, .pos-receipt-custom > .pos-receipt-amount-receipt-total{
    font-size: 100%!important;
    width: 100%;
}